.logininput {
  @apply px-6 py-2 rounded-lg border-2 border-sky-500 border-opacity-60 outline-sky-600  w-full sm:w-96  h-14;
}
.logininput {
  font-size: 1rem !important ;
  letter-spacing: 0.5px;
}
.logininput:focus {
  transform: scale(1.02);
  transition: cubic-bezier(1, 0, 0, 1);
  transition-duration: 200ms;
}

.customCheckbox {
  /* Customize the appearance of the custom checkbox */
  width: 20px;
  height: 20px;
  border: 1px solid #0070f3; /* Border color (you can remove this line if you want no border) */
  background-color: #fff; /* Background color for the checkbox */
  display: inline-block;
  margin-right: 8px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;

  /* Use a pseudo-element to create the tick icon */
  position: relative;
}

.customCheckbox input:checked ~ .Checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.Checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.customCheckbox input:checked ~ .Checkmark:after {
  display: block;
}

.customCheckmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.customCheckmark ~ .Checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.customCheckmark {
  content: "";
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
