.cards-container {
    animation: scrollAnimation 20s linear infinite; /* Adjust the animation duration as needed */
  }
  
  @keyframes scrollAnimation {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
}